#black{
    color: black;
}
.dropdown-item{
    text-shadow: .5px .5px hotpink;
    font-style: italic;
}
.dropdown-item:hover{
    background-color: pink;
}
#head{
    text-align: center;
    background-image: linear-gradient(30deg, pink,hotpink);
    padding: 20px 20px;
    border-radius: 50%;
}
.container{
    margin-bottom: 100px;
}
.carousel-item{
    padding: 20px 40px;
}
.bg-orange{
    background-color: #fceae8;
    border-radius: 5%;
}
.price{
    color: hotpink;
}
.buy-now{
    background-image: linear-gradient(10deg,hotpink,pink);
    border-color: seagreen;
}
.cat1{
    background-color: orange;
}
.cat2{
    background-color: seagreen;
}
.cat3{
    background-color: lightblue;
}
.card-footer{
    background-color: seagreen;
}
#subscribe{
    background-color: #fceae8;
    height: 300px;
  
}
#footer p{
    text-align: center;
    text-shadow: .5px 1px hotpink;
}